.layout {
  display: flex;
  min-height: 100vh;
  background: #f9fafb;
}

.mainContent {
  flex: 1;
  transition: all 0.3s;
}

.mainContentCollapsed {
  margin-left: 4rem;
}

.mainContentExpanded {
  margin-left: 13rem;
}

.main {
  padding-top: 3.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
}
